In [1]:
import pandas as pd
from collections import defaultdict
from collections import Counter
import os

## Find most common types per country/region

In [2]:
path_directory = r"D:\Nicola project\Nicola project\mapping\type"
city = []
types = []
for i in os.listdir(path_directory):   # os.listdir(path_directory)
        domain = os.path.abspath(path_directory) 
        region = i.split('.')[0]
        print('region is {}'.format(region))
        city.append(region)
        stat= os.path.join(domain,i) 
        if stat.endswith(".csv"):
            df = pd.read_csv(stat)
            df = df.dropna(subset=['type_source'])
            c = dict(Counter(df.type_source).most_common(50))
            types.append(c)

region is austria-osm_attrib
region is austria-sample-osm_attrib
region is belgium-osm_attrib
region is bulgaria-osm_attrib
region is croatia-osm_attrib
region is cyprus-osm_attrib
region is czechia-osm_attrib
region is denmark-osm_attrib
region is estonia-osm_attrib
region is finland-osm_attrib
region is france-osm_0_attrib
region is france-osm_10_attrib
region is france-osm_11_attrib
region is france-osm_12_attrib
region is france-osm_13_attrib
region is france-osm_14_attrib
region is france-osm_15_attrib
region is france-osm_16_attrib
region is france-osm_17_attrib
region is france-osm_18_attrib
region is france-osm_19_attrib
region is france-osm_1_attrib
region is france-osm_20_attrib
region is france-osm_21_attrib
region is france-osm_22_attrib
region is france-osm_23_attrib
region is france-osm_24_attrib
region is france-osm_25_attrib
region is france-osm_26_attrib
region is france-osm_2_attrib
region is france-osm_3_attrib
region is france-osm_4_attrib
region is france-osm_5_attrib
region is france-osm_6_attrib
region is france-osm_7_attrib
region is france-osm_8_attrib
region is france-osm_9_attrib
region is germany-osm_10_attrib
region is germany-osm_11_attrib
region is germany-osm_12_attrib
region is germany-osm_13_attrib
region is germany-osm_14_attrib
region is germany-osm_15_attrib
region is germany-osm_16_attrib
region is germany-osm_17_attrib
region is germany-osm_18_attrib
region is germany-osm_19_attrib
region is germany-osm_1_attrib
region is germany-osm_20_attrib
region is germany-osm_21_attrib
region is germany-osm_22_attrib
region is germany-osm_23_attrib
region is germany-osm_24_attrib
region is germany-osm_25_attrib
region is germany-osm_26_attrib
region is germany-osm_27_attrib
region is germany-osm_28_attrib
region is germany-osm_29_attrib
region is germany-osm_2_attrib
region is germany-osm_30_attrib
region is germany-osm_31_attrib
region is germany-osm_3_attrib
region is germany-osm_4_attrib
region is germany-osm_5_attrib
region is germany-osm_7_attrib
region is germany-osm_9_attrib
region is greece-osm_attrib
region is hungary-osm_attrib
region is ireland-osm_attrib
region is italy-osm_attrib
region is latvia-osm_attrib
region is lithuania-osm_attrib
region is luxembourg-osm_attrib
region is malta-osm_attrib
region is netherlands-osm_attrib
region is poland-osm_attrib
region is portugal-osm_attrib
region is romania-osm_attrib
region is slovakia-osm_attrib
region is slovenia-osm_attrib
region is spain-osm_attrib
region is sweden-osm_attrib

In [3]:
osm =pd.DataFrame()
osm['city'] = city
osm['types'] = types
osm.to_csv('type.csv')

## Aggregate

In [4]:
df = pd.read_csv(r'type.csv')
df

,Unnamed: 0,city,types
0,0,austria-osm_attrib,"{'house': 291485, 'garage': 130761, 'shed': 61..."
1,1,austria-sample-osm_attrib,"{'house': 69538, 'garage': 30034, 'residential..."
2,2,belgium-osm_attrib,"{'house': 1367954, 'shed': 227155, 'roof': 589..."
3,3,bulgaria-osm_attrib,"{'house': 74596, 'apartments': 30516, 'residen..."
4,4,croatia-osm_attrib,"{'house': 127549, 'residential': 10086, 'apart..."
...,...,...,...
77,77,romania-osm_attrib,"{'house': 172203, 'apartments': 50204, 'reside..."
78,78,slovakia-osm_attrib,"{'garage': 92685, 'detached': 54770, 'house': ..."
79,79,slovenia-osm_attrib,"{'house': 118177, 'barn': 16055, 'residential'..."
80,80,spain-osm_attrib,"{'house': 543800, 'residential': 285967, 'apar..."
81,81,sweden-osm_attrib,"{'house': 270069, 'garage': 88393, 'residentia..."

In [5]:
eval(df['types'][0])

{'house': 291485,
 'garage': 130761,
 'shed': 61165,
 'residential': 59323,
 'apartments': 54209,
 'detached': 53426,
 'cabin': 25341,
 'hut': 18661,
 'roof': 13816,
 'farm': 10883,
 'barn': 8585,
 'industrial': 8308,
 'farm_auxiliary': 6734,
 'greenhouse': 6070,
 'terrace': 5896,
 'chapel': 5870,
 'commercial': 5630,
 'garages': 4948,
 'church': 4398,
 'retail': 3326,
 'transformer_tower': 3277,
 'school': 2812,
 'service': 2655,
 'carport': 1894,
 'office': 1706,
 'hotel': 1528,
 'warehouse': 1456,
 'stable': 1320,
 'semidetached_house': 1169,
 'cowshed': 1164,
 'allotment_house': 1012,
 'public': 937,
 'train_station': 916,
 'ruins': 836,
 'construction': 815,
 'silo': 793,
 'storage_tank': 637,
 'hospital': 570,
 'kindergarten': 497,
 'bungalow': 429,
 'civic': 403,
 'static_caravan': 351,
 'manufacture': 329,
 'transportation': 310,
 'hay_barn': 305,
 'university': 282,
 'hangar': 274,
 'dormitory': 252,
 'supermarket': 251,
 'collapsed': 241}

In [6]:
## agregate

dd = defaultdict(list)

for i in df['types']: # you can list as many input dicts as you want here
    d  = eval(i)
    for key, value in d.items():
        dd[key].append(value)
        
print(dd)

defaultdict(<class 'list'>, {'house': [291485, 69538, 1367954, 74596, 127549, 16514, 1072112, 84716, 6816, 153186, 57959, 5619, 77, 13295, 7725, 26518, 421, 42081, 6889, 19699, 7655, 4971, 39217, 55339, 2557, 1352, 51876, 37379, 107599, 16101, 15985, 23442, 40729, 16436, 26062, 22175, 17044, 95049, 125062, 125859, 136984, 26224, 158233, 10788, 35367, 446137, 132677, 187009, 84981, 77770, 134981, 52052, 73471, 59185, 79194, 22801, 140128, 140995, 25542, 17332, 46619, 273884, 18480, 34618, 100626, 95599, 43455, 186756, 741275, 665810, 49207, 86343, 65411, 461, 7548362, 733921, 214400, 172203, 21597, 118177, 543800, 270069], 'garage': [130761, 30034, 40687, 4781, 1906, 98, 516836, 13893, 1180, 16992, 3240, 14, 1, 6210, 606, 1684, 48, 2516, 2662, 713, 865, 7, 2420, 4281, 21, 107, 10311, 3389, 668, 1621, 557, 1249, 4758, 2712, 976, 957, 1321, 29128, 203336, 139236, 49964, 15563, 47710, 24125, 15570, 126149, 31421, 68445, 13389, 77692, 66185, 13959, 70090, 42206, 20760, 30889, 259439, 152352, 13452, 14091, 63890, 251660, 12301, 11799, 98791, 78295, 651, 5027, 37883, 47893, 899, 3473, 1971, 16, 73911, 163026, 5834, 1993, 92685, 4339, 14064, 88393], 'shed': [61165, 13758, 227155, 1135, 773, 47, 3242, 13113, 723, 18953, 2058, 10, 686, 413, 1474, 5, 670, 1775, 703, 492, 13, 1495, 225, 15, 87, 3142, 2716, 801, 1063, 534, 669, 1860, 1853, 537, 778, 1338, 2989, 12771, 8673, 19665, 897, 5930, 207, 2678, 30014, 32905, 15548, 3276, 9076, 12026, 6498, 4600, 4777, 23653, 1957, 7235, 12012, 2928, 1334, 7911, 30965, 3094, 2403, 13360, 11349, 809, 2435, 81162, 351833, 2789, 510, 4355, 25, 197567, 19344, 8048, 1121, 462, 1369, 18947, 23857], 'residential': [59323, 14019, 28878, 9525, 10086, 3635, 957903, 9829, 1164, 162192, 2904, 69, 7, 2005, 1230, 233, 87, 461, 2915, 1630, 198, 2409, 2608, 605, 153, 797, 622, 6882, 21816, 2564, 3608, 1273, 8580, 2297, 709, 2206, 1486, 18022, 29278, 64959, 60041, 10082, 93913, 3292, 20700, 189913, 64735, 106572, 24624, 43370, 50770, 22460, 26384, 26134, 36347, 20806, 54378, 32129, 8297, 7248, 22085, 129540, 4892, 16015, 40521, 45433, 17298, 213246, 25705, 785202, 3333, 11746, 2632, 437, 18735, 989778, 31331, 18082, 4279, 8518, 285967, 84745], 'apartments': [54209, 9685, 25074, 30516, 7809, 3754, 8177, 12511, 4833, 28548, 6793, 425, 46, 1972, 1260, 2263, 146, 2203, 4488, 3732, 713, 451, 5637, 571, 844, 745, 4417, 26586, 3237, 10971, 4899, 5356, 33713, 3116, 2670, 3240, 3498, 48529, 53936, 36477, 61518, 2858, 16784, 1861, 6235, 66928, 72893, 57317, 14548, 23989, 26622, 22659, 12989, 13181, 64861, 16255, 48249, 58484, 6065, 8197, 10125, 93291, 15001, 17472, 43554, 31771, 12610, 29426, 6794, 158338, 9380, 10593, 2804, 512, 492194, 119843, 43050, 50204, 15136, 4976, 200468, 41270], 'detached': [53426, 10644, 27314, 4657, 1737, 288, 1317, 27873, 818, 28565, 20381, 218, 1425, 1746, 8459, 94, 2138, 2349, 2737, 445, 128, 10810, 1326, 692, 686, 3006, 10851, 3500, 4959, 2631, 7854, 17247, 15951, 6808, 3687, 4322, 23916, 19825, 18994, 18530, 4278, 14236, 2051, 2945, 82468, 35387, 31023, 12503, 4466, 28855, 6391, 15753, 8474, 28697, 8803, 13657, 13765, 6185, 3088, 15240, 62512, 7392, 8506, 22129, 10280, 932, 9428, 9241, 15828, 3118, 848, 277, 37, 2760, 869543, 4304, 2259, 54770, 2326, 43560, 38314], 'cabin': [25341, 6157, 410, 27, 54, 39709, 458, 8573, 259, 3, 1, 185, 52, 593, 26, 93, 45, 78, 5, 103, 12, 3, 32, 54, 208, 427, 141, 43, 95, 42, 52, 44, 40, 1303, 725, 2100, 2069, 305, 403, 39, 133, 1525, 767, 578, 54, 896, 114, 262, 166, 156, 636, 82, 238, 423, 100, 68, 242, 1700, 16157, 502, 780, 297, 83, 181, 229, 2152, 40, 22, 168, 937, 8400, 130, 311, 728, 73, 712, 2711], 'hut': [18661, 4342, 653, 603, 572, 38, 1575, 2190, 78, 2757, 161, 91, 50, 81, 19, 76, 152, 1, 164, 33, 30, 26, 99, 334, 89, 292, 144, 177, 449, 314, 163, 79, 64, 5994, 3327, 2163, 6446, 523, 1193, 98, 1009, 13187, 4226, 3891, 10392, 802, 1258, 4240, 1039, 755, 2982, 779, 3986, 10047, 358, 497, 1315, 7768, 363, 3716, 3326, 1353, 296, 217, 128, 613111, 148, 99, 178, 29, 870, 3234, 2726, 597, 939, 1778, 1587, 1240], 'roof': [13816, 3106, 58991, 926, 1605, 346, 3660, 2785, 573, 4840, 1858, 372, 138, 872, 912, 857, 75, 786, 786, 1182, 26033, 70, 1452, 472, 1415, 366, 7383, 4833, 1991, 3201, 910, 4303, 5229, 1092, 364, 1693, 5718, 2439, 14793, 4906, 5152, 708, 3927, 1130, 1973, 14267, 7111, 4891, 859, 2273, 2113, 3140, 2471, 2885, 5228, 2902, 11425, 3001, 881, 752, 2000, 13305, 1230, 2096, 4087, 4499, 4070, 4205, 1797, 516405, 945, 980, 834, 38, 7916, 29647, 16720, 1507, 1803, 1946, 20216, 7453], 'farm': [10883, 2585, 5486, 36, 557, 6, 354, 3087, 321, 534, 87, 220, 148, 102, 1, 77, 153, 124, 144, 180, 119, 2, 6, 118, 316, 110, 98, 217, 114, 158, 185, 135, 53, 25, 552, 4275, 1124, 1699, 812, 497, 42, 133, 8675, 232, 938, 944, 780, 2705, 424, 911, 1252, 101, 350, 626, 1011, 220, 171, 883, 4340, 104, 220, 1742, 316, 2712, 1060, 1688, 25443, 66, 100, 319, 29, 706, 9497, 258, 150, 173, 251, 5406, 1792], 'barn': [8585, 1967, 3698, 467, 969, 6, 161982, 746, 962, 800, 79, 449, 419, 460, 260, 344, 132, 111, 5, 192, 200, 2, 15, 84, 755, 259, 201, 182, 595, 78, 323, 451, 996, 94, 430, 239, 3523, 3301, 778, 2192, 60, 2318, 4880, 1379, 3426, 275, 1035, 3501, 1801, 960, 1224, 263, 730, 1136, 1088, 1157, 933, 10337, 20717, 287, 530, 4708, 1819, 70, 1992, 4267, 6993, 110, 29, 530, 1839, 8295, 1060, 1416, 199, 16055, 25120, 9038], 'industrial': [8308, 1693, 27196, 6637, 2505, 420, 87675, 5993, 720, 10702, 2807, 62, 3, 886, 555, 687, 32, 702, 836, 462, 409, 51, 1532, 281, 58, 93, 1308, 3757, 1174, 1441, 721, 991, 2576, 1220, 547, 803, 945, 3216, 6010, 7475, 9517, 1502, 5710, 780, 1743, 13276, 5442, 8245, 2341, 3032, 3120, 4295, 3763, 3445, 3127, 1766, 5103, 7700, 1458, 1886, 3233, 16487, 1653, 4457, 4948, 6545, 5097, 15903, 11150, 328257, 3183, 1817, 1010, 106, 210879, 55025, 12604, 12933, 4368, 1805, 92405, 13132], 'farm_auxiliary': [6734, 1450, 19243, 5190, 126, 206, 21477, 1503, 17, 2405, 1187, 9, 347, 656, 414, 655, 243, 229, 172, 5, 860, 280, 7, 20, 408, 1017, 581, 261, 438, 484, 147, 402, 382, 227, 268, 2721, 18248, 2825, 1483, 1104, 1986, 82, 693, 11382, 4602, 2706, 500, 2360, 6645, 1419, 1105, 2096, 700, 1083, 2644, 2099, 947, 542, 1593, 10422, 852, 1314, 4552, 731, 692, 652, 90503, 139772, 140, 219, 4308, 10, 1544, 1099356, 3056, 693, 463, 713, 11226, 6477], 'greenhouse': [6070, 1362, 5448, 654, 1311, 257, 987, 2932, 1366, 1162, 2393, 267, 85, 155, 340, 186, 18, 375, 233, 1047, 188, 140, 1407, 115, 147, 105, 278, 1466, 2403, 2275, 248, 1212, 735, 675, 347, 641, 195, 1121, 3439, 2102, 2424, 502, 1228, 109, 596, 5303, 1649, 1781, 386, 1139, 1163, 1163, 882, 778, 708, 735, 1233, 795, 396, 240, 942, 4620, 450, 754, 1229, 942, 2577, 3133, 3892, 46060, 1037, 10388, 125, 99, 10857, 28903, 4663, 1029, 255, 298, 15236, 1364], 'terrace': [5896, 1144, 7286, 138, 658, 425, 9173, 220, 18178, 948, 318, 4, 336, 192, 83, 10, 110, 269, 1807, 57, 12, 823, 34, 7, 39, 730, 972, 236, 600, 10181, 1954, 1635, 735, 1148, 562, 338, 18438, 17832, 11003, 3306, 251, 5195, 263, 2258, 17355, 15637, 17260, 1300, 3611, 17858, 1617, 1976, 2338, 14746, 4051, 65211, 3432, 3188, 2820, 2842, 32500, 1888, 1245, 17096, 9172, 487, 1423, 57222, 14600, 91, 348, 268, 20, 519, 42887, 4367, 897, 479, 1085, 33132, 38937], 'chapel': [5870, 1334, 2246, 136, 538, 47, 3752, 54, 174, 455, 9, 727, 216, 193, 7, 132, 377, 299, 180, 25, 1104, 86, 2, 383, 364, 1048, 162, 757, 163, 384, 172, 157, 127, 89, 108, 96, 499, 519, 214, 846, 1182, 98, 405, 1160, 748, 530, 64, 258, 127, 182, 385, 723, 223, 206, 759, 581, 623, 352, 1066, 5114, 257, 301, 1655, 399, 2329, 976, 91, 4997, 38, 228, 233, 135, 616, 5142, 2477, 221, 1276, 298, 3958, 246], 'commercial': [5630, 1252, 4937, 2454, 1122, 744, 14287, 1518, 226, 3336, 736, 67, 6, 306, 269, 203, 24, 315, 329, 378, 63, 77, 696, 77, 45, 67, 466, 1217, 416, 562, 126, 466, 950, 493, 96, 748, 99, 2780, 6923, 5218, 3832, 1365, 4061, 449, 1146, 11227, 8294, 5773, 1060, 2500, 4640, 2189, 1799, 2246, 6394, 835, 3698, 3383, 2007, 673, 1421, 11509, 1948, 2003, 4056, 4446, 1618, 1888, 7314, 15639, 669, 560, 799, 42, 57214, 15715, 2504, 2297, 1229, 890, 5658, 3088], 'garages': [4948, 1028, 10083, 1243, 484, 7, 2123, 965, 1298, 2949, 628, 1, 1674, 427, 929, 1, 886, 1512, 380, 146, 523, 97, 3, 71, 1409, 2582, 567, 1023, 193, 555, 1678, 510, 330, 228, 608, 7722, 16033, 13314, 19499, 1041, 7056, 1123, 2827, 24750, 8383, 11261, 5133, 10487, 7024, 6768, 4071, 6246, 3953, 9067, 16088, 26810, 2372, 3164, 10367, 42046, 4314, 6614, 13294, 9214, 3496, 214, 9406, 2535, 4525, 875, 34, 1243, 29569, 966, 656, 1568, 903, 695, 14063], 'church': [4398, 1103, 3293, 470, 1563, 145, 3016, 2545, 277, 616, 1622, 60, 1, 2642, 1858, 1205, 32, 1829, 1392, 1409, 2397, 33, 1452, 694, 38, 447, 1525, 2880, 2450, 1076, 1411, 3289, 1488, 1756, 1915, 991, 1304, 427, 1273, 1785, 1354, 924, 2171, 183, 751, 2386, 2183, 2146, 160, 635, 693, 1426, 718, 967, 717, 813, 1467, 1198, 753, 520, 1032, 6665, 1218, 1570, 1899, 1244, 2557, 5348, 3877, 45901, 231, 694, 376, 160, 4330, 14890, 3638, 3128, 3805, 557, 12956, 2396], 'retail': [3326, 609, 3880, 1572, 627, 236, 681, 2217, 567, 4065, 1539, 158, 10, 981, 1060, 620, 81, 614, 1109, 1816, 547, 149, 1932, 334, 113, 207, 1825, 3762, 1583, 2304, 981, 2245, 2617, 1164, 1001, 990, 761, 2409, 2067, 1586, 2129, 442, 1593, 205, 598, 5701, 3556, 3077, 1192, 971, 1825, 1103, 1149, 873, 2671, 709, 1841, 1769, 355, 434, 670, 5376, 1484, 953, 2157, 1460, 910, 3815, 5316, 6631, 828, 475, 307, 43, 63987, 44315, 951, 1053, 1616, 401, 8636, 3198], 'transformer_tower': [3277, 695, 149, 89, 1905, 361, 135, 140, 523, 76, 17, 59, 176, 578, 23, 89, 143, 378, 83, 54, 165, 128, 63, 35, 23, 513, 312, 2299, 586, 58, 694, 227, 287, 117, 309, 763, 1152, 109, 63, 2017, 552, 234, 7644, 379, 531, 767, 286, 1678, 1097, 18, 172, 181, 936], 'school': [2812, 621, 6539, 1272, 1397, 405, 2743, 2071, 279, 3014, 1551, 118, 65, 1024, 549, 366, 134, 625, 865, 1720, 423, 91, 1526, 315, 532, 157, 1940, 5824, 1635, 1728, 563, 1323, 3377, 928, 562, 1134, 746, 2232, 3694, 1967, 1848, 440, 2227, 288, 527, 4715, 3324, 3993, 717, 1649, 1549, 1172, 1124, 1054, 2580, 689, 2674, 1765, 445, 384, 754, 5165, 764, 771, 1933, 1401, 2479, 2904, 6294, 24776, 551, 826, 484, 248, 6247, 18896, 4054, 2357, 1633, 436, 15448, 6039], 'service': [2655, 412, 1211, 720, 461, 52, 2740, 982, 626, 1634, 2251, 26, 2, 1477, 1181, 1544, 5, 667, 425, 3000, 1838, 39, 1572, 523, 25, 73, 6183, 4909, 1113, 1610, 562, 1109, 2835, 2118, 294, 813, 444, 815, 1103, 1093, 1008, 140, 785, 272, 274, 4534, 2428, 1448, 406, 649, 554, 653, 761, 711, 1713, 442, 1246, 1332, 165, 144, 459, 2769, 589, 404, 1156, 1507, 159, 820, 587, 8418, 2358, 319, 449, 9, 4424, 96048, 478, 687, 1540, 246, 2643, 1207], 'carport': [1894, 324, 1348, 32, 44, 4, 3413, 1986, 94, 20, 50, 28, 43, 22, 11, 5, 98, 36, 428, 39, 55, 89, 80, 44, 32, 21, 1668, 1927, 504, 1207, 156, 462, 122, 360, 2961, 1187, 3258, 230, 726, 1633, 511, 1229, 659, 928, 655, 1210, 748, 150, 180, 353, 2494, 637, 239, 654, 455, 287, 140, 459, 37, 115, 395, 162, 80, 1372, 967], 'office': [1706, 322, 922, 807, 158, 289, 545, 900, 218, 933, 497, 10, 1, 140, 148, 95, 7, 114, 127, 178, 91, 20, 367, 18, 52, 16, 488, 1413, 242, 575, 139, 413, 2105, 265, 121, 230, 85, 2266, 1628, 1191, 1595, 185, 821, 189, 360, 2610, 2035, 2219, 511, 428, 791, 721, 465, 510, 1786, 642, 1214, 953, 429, 192, 379, 3918, 485, 382, 1733, 1099, 244, 1006, 901, 3751, 207, 221, 250, 29, 6766, 13515, 429, 753, 794, 191, 3605, 1249], 'hotel': [1528, 281, 242, 580, 316, 214, 5564, 211, 39, 351, 180, 28, 1, 72, 51, 64, 5, 47, 65, 164, 70, 31, 115, 18, 13, 52, 103, 538, 119, 389, 67, 123, 553, 65, 41, 64, 23, 274, 153, 238, 457, 147, 438, 21, 143, 851, 631, 499, 61, 83, 247, 237, 107, 151, 410, 121, 190, 125, 89, 71, 259, 1420, 667, 153, 590, 315, 1786, 597, 605, 3506, 62, 98, 77, 40, 612, 2504, 684, 368, 242, 153, 4113, 411], 'warehouse': [1456, 327, 1341, 1703, 266, 50, 38239, 396, 124, 1901, 263, 7, 1, 209, 169, 94, 6, 110, 71, 129, 64, 34, 339, 84, 5, 10, 172, 600, 299, 549, 100, 196, 661, 365, 50, 95, 162, 478, 709, 606, 1267, 233, 741, 47, 706, 1426, 702, 1157, 242, 394, 660, 457, 400, 250, 425, 282, 1063, 403, 180, 144, 325, 2593, 286, 344, 720, 471, 447, 947, 749, 8480, 389, 283, 90, 6, 546, 27581, 4366, 3483, 596, 324, 24931, 510], 'stable': [1320, 298, 958, 31, 89, 20, 111, 212, 255, 7, 46, 25, 58, 36, 22, 11, 42, 3, 23, 76, 17, 545, 279, 549, 480, 126, 535, 105, 187, 1457, 539, 520, 66, 819, 897, 432, 297, 309, 287, 127, 415, 433, 72, 86, 227, 1224, 361, 192, 409, 265, 244, 269, 416, 3543, 17, 147, 399, 65, 58, 140, 862, 334], 'semidetached_house': [1169, 154, 2412, 532, 649, 67, 88, 1589, 190, 2742, 793, 12, 110, 106, 655, 38, 407, 102, 754, 330, 7, 929, 23, 21, 20, 293, 1132, 342, 314, 65, 638, 2716, 625, 1672, 125, 220, 3979, 10395, 7509, 3878, 676, 2117, 465, 581, 9864, 6047, 4841, 2215, 1831, 5169, 2190, 2819, 1353, 4876, 2349, 23866, 7006, 1046, 1764, 943, 21408, 2350, 2106, 14063, 2986, 1138, 67820, 1717, 145, 55, 36, 3, 367, 25165, 358, 425, 754, 283, 18861, 1188], 'cowshed': [1164, 263, 148, 139, 30, 20, 142, 45, 40, 596, 293, 24, 177, 164, 69, 75, 94, 36, 193, 741, 296, 57, 88, 1550, 45, 132, 38, 4265], 'allotment_house': [1012, 153, 23828, 13, 422, 16, 47, 27, 262, 1183, 498, 1294, 1004, 73, 109, 760, 3724, 123, 564, 210, 143, 153, 112, 2936, 165, 8753, 737, 1349, 584, 291, 431, 4509, 95, 208], 'public': [937, 224, 707, 223, 129, 32, 186, 202, 85, 5425, 760, 42, 2, 407, 210, 142, 7, 352, 172, 251, 1095, 40, 466, 38, 80, 33, 248, 1424, 321, 533, 137, 296, 598, 273, 186, 331, 129, 212, 498, 727, 461, 106, 1706, 82, 168, 1442, 628, 958, 184, 388, 250, 339, 382, 431, 357, 98, 484, 347, 92, 112, 213, 1294, 333, 222, 507, 526, 383, 1559, 471, 5111, 113, 99, 270, 6, 367, 2888, 955, 467, 221, 112, 12761, 370], 'train_station': [916, 195, 231, 217, 221, 489, 136, 37, 162, 64, 2, 95, 57, 49, 52, 84, 59, 64, 43, 24, 18, 95, 207, 71, 126, 48, 71, 466, 78, 48, 19, 34, 101, 106, 138, 343, 28, 206, 21, 40, 414, 221, 21, 145, 62, 261, 91, 77, 43, 41, 69, 448, 100, 158, 188, 126, 198, 693, 103, 3035, 140, 80, 37, 1, 203, 1792, 309, 706, 277, 127, 925, 548], 'ruins': [836, 168, 233, 153, 548, 205, 793, 1355, 192, 9, 2, 255, 179, 123, 8, 133, 111, 884, 78, 42, 231, 52, 6, 1242, 84, 1527, 727, 1221, 336, 1293, 107, 113, 260, 158, 31, 358, 719, 33, 254, 18, 63, 254, 2075, 53, 82, 213, 87, 473, 152, 136, 34, 75, 376, 360, 478, 123, 1058, 944, 5105, 12125, 1452, 1083, 265, 4, 5176, 4032, 810, 641, 85, 16551, 201], 'construction': [815, 194, 839, 379, 137, 358, 504, 946, 368, 851, 117, 6, 120, 65, 54, 1, 27, 200, 103, 45, 134, 30, 18, 29, 112, 369, 270, 122, 46, 108, 954, 252, 22, 41, 31, 365, 617, 712, 512, 58, 438, 36, 99, 915, 826, 763, 154, 543, 507, 102, 1147, 249, 673, 207, 935, 592, 86, 76, 287, 1647, 265, 162, 841, 492, 190, 558, 1604, 12543, 418, 488, 543, 18, 119968, 28087, 670, 2003, 489, 160, 1953, 518], 'silo': [793, 75, 47, 56, 54, 3273, 27, 63, 81, 85, 17, 5, 38, 112, 56, 19, 42, 763, 181, 168, 63, 101, 192, 444, 115, 65, 140, 104, 126, 290, 87, 38, 78, 67, 779, 57, 115, 117, 33, 399, 49, 162, 1151, 33, 32, 330], 'storage_tank': [637, 146, 350, 59, 84, 16, 95, 571, 123, 197, 29, 29, 11, 12, 51, 236, 17, 169, 79, 54, 57, 23, 234, 297, 652, 156, 164, 161, 1028, 44, 53, 483, 125, 137, 507, 114, 201, 121, 107, 47, 81, 834, 76, 75, 268, 533, 199, 415, 1674, 67, 133, 125, 667, 1038, 161, 509, 515], 'hospital': [570, 138, 323, 454, 329, 35, 429, 275, 55, 563, 260, 43, 51, 275, 110, 51, 38, 211, 215, 233, 85, 38, 318, 113, 74, 16, 221, 488, 183, 319, 76, 248, 996, 205, 116, 168, 251, 317, 691, 173, 468, 48, 376, 80, 206, 589, 978, 441, 72, 561, 252, 286, 171, 141, 792, 123, 312, 381, 138, 83, 119, 1030, 193, 204, 313, 240, 274, 631, 907, 4278, 148, 71, 51, 18, 323, 2783, 661, 600, 457, 76, 1234, 496], 'kindergarten': [497, 90, 116, 545, 243, 29, 276, 418, 151, 498, 91, 4, 36, 20, 53, 13, 12, 48, 28, 40, 135, 89, 105, 18, 244, 48, 20, 30, 63, 458, 770, 881, 787, 137, 676, 49, 153, 1076, 1391, 861, 169, 366, 275, 475, 470, 338, 934, 204, 961, 544, 101, 110, 257, 1779, 327, 207, 822, 482, 170, 892, 100, 1378, 251, 441, 37, 3521, 128, 394, 218, 131, 447, 1684], 'bungalow': [429, 70, 2042, 139, 344, 15, 583, 5045, 14, 48859, 714, 4, 1, 39, 24, 51, 3, 10, 76, 431, 12, 11, 187, 77, 22, 213, 381, 546, 40, 756, 108, 30, 126, 9, 821, 146, 462, 10344, 44, 308, 490, 990, 6041, 186, 32, 405, 598, 1001, 98, 229, 4851, 47, 404, 139, 93, 477, 1238, 754, 257, 402, 43, 1032, 981, 1665, 40, 21, 5076, 78166, 143, 38, 177, 72, 860, 1513], 'civic': [403, 101, 501, 152, 102, 115416, 22, 305, 379, 7, 200, 249, 93, 1, 87, 863, 621, 1261, 407, 40, 4, 23, 585, 314, 198, 208, 281, 818, 706, 325, 305, 141, 39, 201, 415, 665, 759, 65, 196, 13, 89, 308, 752, 457, 32, 396, 229, 150, 153, 338, 507, 56, 363, 423, 173, 42, 154, 734, 303, 176, 155, 707, 198, 125, 105, 1212, 13, 25, 116, 1, 805, 1922, 130, 60, 230, 22, 1625, 696], 'static_caravan': [351, 87, 376, 97, 1381, 45, 20, 3077, 80, 1249, 67, 97, 121, 784, 2483, 634, 176, 453, 638, 3428, 14, 288, 179, 57, 101, 223, 105, 135, 142, 12196, 2050, 39145, 44], 'manufacture': [329, 91, 164, 54, 53, 3, 91, 23, 107, 4, 17, 40, 32, 16, 2, 15, 14, 116, 110, 242, 48, 116, 85, 1085, 37, 65, 154, 174, 22, 30, 83, 461, 282, 160, 97, 34, 14, 7, 4, 86318, 104, 98, 33, 136], 'transportation': [310, 67, 47, 8640, 11, 35, 12, 116, 84, 16, 31, 68, 98, 91, 49, 128, 60, 2, 9289, 261, 49, 43, 36], 'hay_barn': [305, 80], 'university': [282, 56, 409, 185, 59, 89, 269, 404, 54, 235, 158, 10, 44, 38, 86, 21, 75, 81, 67, 28, 34, 237, 55, 10, 24, 120, 774, 85, 211, 44, 159, 467, 80, 33, 117, 94, 139, 311, 289, 349, 41, 290, 120, 110, 994, 546, 754, 115, 195, 192, 280, 228, 470, 137, 461, 293, 57, 69, 45, 739, 184, 187, 280, 714, 389, 424, 781, 1248, 65, 87, 17, 36, 526, 1823, 623, 300, 158, 88, 1470, 492], 'hangar': [274, 63, 3004, 141, 72, 45, 119, 124, 60, 196, 300, 119, 644, 258, 135, 5, 502, 213, 206, 1292, 10, 312, 160, 33, 16, 211, 753, 402, 432, 129, 457, 448, 305, 213, 364, 87, 110, 100, 44, 264, 38, 295, 194, 128, 52, 183, 72, 50, 134, 76, 30, 41, 81, 407, 111, 125, 69, 90, 169, 117, 1693, 432, 407, 216, 14, 2552, 167, 354, 83, 32, 866, 260], 'dormitory': [252, 55, 218, 79, 54, 61, 146, 201, 21, 131, 8, 133, 80, 47, 8, 70, 136, 68, 45, 16, 163, 20, 10, 5, 123, 167, 91, 122, 32, 90, 322, 127, 68, 59, 52, 126, 340, 345, 175, 37, 202, 13, 49, 404, 279, 308, 25, 70, 141, 101, 139, 235, 83, 274, 135, 73, 71, 82, 520, 62, 125, 192, 45, 252, 187, 40, 60, 60, 241, 111, 59, 310, 197], 'supermarket': [251, 58, 126, 28, 4, 116, 295, 12, 4, 2, 3, 34, 90, 80, 215, 20, 223, 54, 283, 209, 132, 43, 151, 48, 25, 44, 106, 65, 119, 49, 6, 1, 1457, 65, 52], 'collapsed': [241, 74, 39, 502, 4, 43, 20, 36, 2, 79, 58, 79, 12604, 25, 5, 741, 84, 587], 'bunker': [335, 89, 9, 199, 977, 188, 200, 219, 1, 298, 30, 98, 236, 31, 447, 3, 332, 172, 77, 412, 741, 200, 120, 114, 114, 171, 90, 348, 87, 224, 61, 538, 88, 32, 16, 3541, 1228, 53, 392], '3': [248], 'castle': [239, 20, 82, 10, 47, 15, 69, 19], 'sty': [102, 158, 641, 126, 105, 116, 149, 87, 12375, 57, 438], 'college': [98, 46, 41, 7, 135, 26, 42, 6, 15, 23, 36, 9, 30, 40, 58, 107, 26, 75, 257, 25, 5, 163, 64, 1062], 'government': [97, 39, 3, 16, 58, 3, 2, 27, 20, 9, 29, 61, 48, 1, 111, 23, 5, 5, 33, 299, 49, 118, 133, 42, 270, 41, 29, 67, 60, 66, 19, 265, 135, 21, 159, 52, 200, 283, 35, 65, 105, 20, 44, 6, 4, 43, 28], 'shop': [58, 130], 'sports_centre': [40, 13, 65, 8, 18, 35, 77, 10, 1, 39, 156, 89, 28, 50, 176, 37, 17, 40, 42, 166, 103, 168, 90, 15, 256, 200, 262, 34, 75, 127, 67, 67, 164, 62, 161, 24, 357, 169, 48, 298, 113], 'kiosk': [40, 79, 45, 41, 140, 70, 72, 47, 1009, 28, 82, 3, 353], 'maybe': [619], 'container': [93, 17, 62, 32, 32, 120, 84, 142, 158, 120, 442], 'houseboat': [55, 49, 41, 11, 2, 212, 20202, 218], 'no': [35, 56, 1, 3, 13, 60, 16, 329, 137, 27, 33, 12, 139, 46, 89], 'mosque': [16, 4, 28, 72, 148], 'grandsta

In [7]:
## sum up

dd = {i:sum(dd[i]) for i in dd.keys()}
dd

{'house': 18349562,
 'garage': 3395027,
 'shed': 1370840,
 'residential': 5100882,
 'apartments': 2469355,
 'detached': 1878983,
 'cabin': 133062,
 'hut': 758767,
 'roof': 907937,
 'farm': 112470,
 'barn': 338908,
 'industrial': 1087737,
 'farm_auxiliary': 1517310,
 'greenhouse': 207950,
 'terrace': 559709,
 'chapel': 64710,
 'commercial': 269802,
 'garages': 412878,
 'church': 198744,
 'retail': 241120,
 'transformer_tower': 33345,
 'school': 196491,
 'service': 198083,
 'carport': 41757,
 'office': 80405,
 'hotel': 37393,
 'warehouse': 142086,
 'stable': 22394,
 'semidetached_house': 291048,
 'cowshed': 10924,
 'allotment_house': 55788,
 'public': 56423,
 'train_station': 17100,
 'ruins': 69643,
 'construction': 193183,
 'silo': 11122,
 'storage_tank': 15046,
 'hospital': 31359,
 'kindergarten': 29812,
 'bungalow': 182095,
 'civic': 141453,
 'static_caravan': 70323,
 'manufacture': 91170,
 'transportation': 19543,
 'hay_barn': 385,
 'university': 22310,
 'hangar': 22160,
 'dormitory': 9448,
 'supermarket': 4470,
 'collapsed': 15223,
 'bunker': 12511,
 '3': 248,
 'castle': 501,
 'sty': 14354,
 'college': 2396,
 'government': 3248,
 'shop': 188,
 'sports_centre': 3967,
 'kiosk': 2009,
 'maybe': 619,
 'container': 1302,
 'houseboat': 20790,
 'no': 996,
 'mosque': 268,
 'grandstand': 2633,
 'monastery': 70,
 'coffee shop': 6,
 'cathedral': 54,
 'shelter': 1475,
 'wine_press_house': 41,
 'synagogue': 37,
 'slurry_tank': 34108,
 'manor': 791,
 'toilets': 1049,
 'porch': 175,
 'windmill': 140,
 'sports_hall': 2490,
 'mink_shed': 113,
 'digester': 4342,
 'abandoned': 147,
 'parking': 4630,
 'tent': 1035,
 'duplex': 4539,
 'summer_cottage': 957,
 'utility': 346,
 'boathouse': 1542,
 'canopy': 229,
 'minor': 216,
 'block': 205,
 'semi': 3387,
 'fire_station': 6316,
 'temple': 250,
 'service_communal': 2,
 'Pôle Relations extérieures, Orientation et Formation pour l’Insertion professionneLle': 1,
 'salle_de_spectacle': 1,
 'stadium': 468,
 'military': 24,
 'glasshouse': 717,
 'store': 111,
 "Centre_commercial_et_d'affaires": 1,
 'brewery': 1,
 'Mairie': 1,
 'yes;retail': 1,
 'garbage_shed': 1,
 'pavilion': 481,
 'chalet': 603,
 'tank': 31,
 'balcony': 233,
 'dovecote': 130,
 'water_tower': 12,
 'steps': 10,
 'guest_house': 4,
 'yeso': 1,
 'presbytery': 1554,
 'watermill': 47,
 'gymnasium': 33,
 'factory': 121,
 'hostel': 3,
 'yes;roof': 3,
 'offices': 3,
 'carpet': 2,
 'rr': 1,
 'carbet': 1,
 'ger': 83,
 'bakehouse': 36,
 'wayside_shrine': 233,
 'tower': 2064,
 'baking_house': 14,
 'station': 77,
 'riverboat': 75,
 'cottage': 20,
 'part': 10,
 'poultry_house': 28,
 'bridge': 56,
 'gazebo': 602,
 'arbour': 277,
 'conservatory': 157,
 'terraced_house': 2845,
 'summer_house': 1017,
 'tech_cab': 199,
 'prison': 30,
 'dwelling_house': 7635,
 'electricity': 564,
 'substation': 275,
 'community_centre': 220,
 'detached_house': 138,
 'agricultural': 558,
 'home': 75,
 'gasometer': 49,
 'holiday_home': 42,
 'apartment_building': 441,
 'recreation': 91,
 'depot': 327,
 'column': 55,
 'yes;apartments': 42,
 'mobile_home': 480,
 'house;commercial': 253,
 'horsewalker': 114,
 'trullo': 13498,
 'pajaru': 7355,
 'sport': 954,
 'outbuilding': 114291,
 'wayside_chapel': 25,
 'gate': 3,
 'basilica': 2,
 'convent': 2,
 'marquee': 2,
 'power': 319,
 'wall': 203,
 'allotment': 190,
 'proposed': 171,
 'tipi': 168,
 'veranda': 1500,
 'storage': 1469,
 'education': 1321,
 'annexe': 1463,
 'cladire': 228,
 'unknown': 123,
 'shrine': 43,
 'hayrack': 436,
 'livestock': 496}

In [8]:
## order

data = dict(sorted(dd.items(), key=lambda item: item[1], reverse=True))
data

{'house': 18349562,
 'residential': 5100882,
 'garage': 3395027,
 'apartments': 2469355,
 'detached': 1878983,
 'farm_auxiliary': 1517310,
 'shed': 1370840,
 'industrial': 1087737,
 'roof': 907937,
 'hut': 758767,
 'terrace': 559709,
 'garages': 412878,
 'barn': 338908,
 'semidetached_house': 291048,
 'commercial': 269802,
 'retail': 241120,
 'greenhouse': 207950,
 'church': 198744,
 'service': 198083,
 'school': 196491,
 'construction': 193183,
 'bungalow': 182095,
 'warehouse': 142086,
 'civic': 141453,
 'cabin': 133062,
 'outbuilding': 114291,
 'farm': 112470,
 'manufacture': 91170,
 'office': 80405,
 'static_caravan': 70323,
 'ruins': 69643,
 'chapel': 64710,
 'public': 56423,
 'allotment_house': 55788,
 'carport': 41757,
 'hotel': 37393,
 'slurry_tank': 34108,
 'transformer_tower': 33345,
 'hospital': 31359,
 'kindergarten': 29812,
 'stable': 22394,
 'university': 22310,
 'hangar': 22160,
 'houseboat': 20790,
 'transportation': 19543,
 'train_station': 17100,
 'collapsed': 15223,
 'storage_tank': 15046,
 'sty': 14354,
 'trullo': 13498,
 'bunker': 12511,
 'silo': 11122,
 'cowshed': 10924,
 'dormitory': 9448,
 'dwelling_house': 7635,
 'pajaru': 7355,
 'fire_station': 6316,
 'parking': 4630,
 'duplex': 4539,
 'supermarket': 4470,
 'digester': 4342,
 'sports_centre': 3967,
 'semi': 3387,
 'government': 3248,
 'terraced_house': 2845,
 'grandstand': 2633,
 'sports_hall': 2490,
 'college': 2396,
 'tower': 2064,
 'kiosk': 2009,
 'presbytery': 1554,
 'boathouse': 1542,
 'veranda': 1500,
 'shelter': 1475,
 'storage': 1469,
 'annexe': 1463,
 'education': 1321,
 'container': 1302,
 'toilets': 1049,
 'tent': 1035,
 'summer_house': 1017,
 'no': 996,
 'summer_cottage': 957,
 'sport': 954,
 'manor': 791,
 'glasshouse': 717,
 'maybe': 619,
 'chalet': 603,
 'gazebo': 602,
 'electricity': 564,
 'agricultural': 558,
 'castle': 501,
 'livestock': 496,
 'pavilion': 481,
 'mobile_home': 480,
 'stadium': 468,
 'apartment_building': 441,
 'hayrack': 436,
 'hay_barn': 385,
 'utility': 346,
 'depot': 327,
 'power': 319,
 'arbour': 277,
 'substation': 275,
 'mosque': 268,
 'house;commercial': 253,
 'temple': 250,
 '3': 248,
 'balcony': 233,
 'wayside_shrine': 233,
 'canopy': 229,
 'cladire': 228,
 'community_centre': 220,
 'minor': 216,
 'block': 205,
 'wall': 203,
 'tech_cab': 199,
 'allotment': 190,
 'shop': 188,
 'porch': 175,
 'proposed': 171,
 'tipi': 168,
 'conservatory': 157,
 'abandoned': 147,
 'windmill': 140,
 'detached_house': 138,
 'dovecote': 130,
 'unknown': 123,
 'factory': 121,
 'horsewalker': 114,
 'mink_shed': 113,
 'store': 111,
 'recreation': 91,
 'ger': 83,
 'station': 77,
 'riverboat': 75,
 'home': 75,
 'monastery': 70,
 'bridge': 56,
 'column': 55,
 'cathedral': 54,
 'gasometer': 49,
 'watermill': 47,
 'shrine': 43,
 'holiday_home': 42,
 'yes;apartments': 42,
 'wine_press_house': 41,
 'synagogue': 37,
 'bakehouse': 36,
 'gymnasium': 33,
 'tank': 31,
 'prison': 30,
 'poultry_house': 28,
 'wayside_chapel': 25,
 'military': 24,
 'cottage': 20,
 'baking_house': 14,
 'water_tower': 12,
 'steps': 10,
 'part': 10,
 'coffee shop': 6,
 'guest_house': 4,
 'hostel': 3,
 'yes;roof': 3,
 'offices': 3,
 'gate': 3,
 'service_communal': 2,
 'carpet': 2,
 'basilica': 2,
 'convent': 2,
 'marquee': 2,
 'Pôle Relations extérieures, Orientation et Formation pour l’Insertion professionneLle': 1,
 'salle_de_spectacle': 1,
 "Centre_commercial_et_d'affaires": 1,
 'brewery': 1,
 'Mairie': 1,
 'yes;retail': 1,
 'garbage_shed': 1,
 'yeso': 1,
 'rr': 1,
 'carbet': 1}

In [9]:
types_data = pd.DataFrame.from_dict(data, orient='index',columns=['sum'])
types_data

                   sum
house         18349562
residential    5100882
garage         3395027
apartments     2469355
detached       1878983
...                ...
yes;retail           1
garbage_shed         1
yeso                 1
rr                   1
carbet               1

[181 rows x 1 columns]

In [10]:
types_data = types_data.reset_index()
types_data

            index       sum
0           house  18349562
1     residential   5100882
2          garage   3395027
3      apartments   2469355
4        detached   1878983
..            ...       ...
176    yes;retail         1
177  garbage_shed         1
178          yeso         1
179            rr         1
180        carbet         1

[181 rows x 2 columns]

In [24]:
lst1 = []
for i in types_data['index']:
    lst1.append(('house' in i)|('residential' in i)|('apartments' in i)\
               |('bungalow' in i)|('allotment_house' in i)|('dormitory'in i)|('apartment_building' in i)\
               |('home'in i))
types_data['residential'] = lst1

In [26]:
types_data[types_data['sum']>100]

           index       sum  residential
0          house  18349562         True
1    residential   5100882         True
2         garage   3395027        False
3     apartments   2469355         True
4       detached   1878983        False
..           ...       ...          ...
127      unknown       123        False
128      factory       121        False
129  horsewalker       114        False
130    mink_shed       113        False
131        store       111        False

[132 rows x 3 columns]

In [27]:
types_data[types_data['sum']>100]['sum'].sum()

41789249

In [28]:
types_data[types_data['sum']>100]['sum'].sum()/types_data['sum'].sum()

0.9999700410387519

In [29]:
osm_types_data = types_data[types_data['sum']>100]
osm_types_data.to_csv('osm_types_data.csv')