In [3]:
import pandas as pd
import os
import glob

root = '/home/nmd/Desktop/'

In [4]:
paths_msft = glob.glob(os.path.join(root,'v1','msft_*'))
overviews_msft = pd.DataFrame()

for path in paths_msft:
    tmp = pd.read_csv(path)
    tmp.insert(0,'country',os.path.split(path)[1].split('_')[1])
    overviews_msft = pd.concat([overviews_msft,tmp])

In [33]:
paths_gov = glob.glob(os.path.join(root,'v1','gov_*'))
overviews_gov = pd.DataFrame()

for path in paths_gov:
    tmp = pd.read_csv(path)
    tmp.insert(0,'country',os.path.split(path)[1].split('_')[1])
    overviews_gov = pd.concat([overviews_gov,tmp])

In [34]:
df = pd.merge(overviews_msft[['country','LAU_ID','area']],overviews_gov[['LAU_ID','area']],on='LAU_ID',suffixes=['_msft','_gov'])

In [35]:
df['diff'] = (df.area_msft - df.area_gov) / df.area_gov

In [36]:
df.head()

   country  LAU_ID  area_msft   area_gov      diff
0  estonia  EE0184  1267540.0  1428920.0 -0.112938
1  estonia  EE0205  1594128.0  1831985.0 -0.129836
2  estonia  EE0214   821947.0  1002487.0 -0.180092
3  estonia  EE0303    87322.0   102755.0 -0.150192
4  estonia  EE0430  1136666.0  1552656.0 -0.267922

In [37]:
df = df[(df['diff'] > -1) & (df['diff'] < 1)]

In [38]:
df['diff'].describe(percentiles=[.8,.9,.95])

count    58916.000000
mean         0.111103
std          0.259039
min         -0.999998
50%          0.107532
80%          0.236773
90%          0.359485
95%          0.517487
max          0.999128
Name: diff, dtype: float64

In [39]:
df[df.country=='france']['diff'].describe(percentiles=[.8,.9,.95])

count    32507.000000
mean         0.084408
std          0.163931
min         -0.999882
50%          0.095383
80%          0.168047
90%          0.221145
95%          0.267334
max          0.987037
Name: diff, dtype: float64

In [40]:
df[df.country=='germany']['diff'].describe(percentiles=[.8,.9,.95])

count    3921.000000
mean        0.165050
std         0.182024
min        -0.998224
50%         0.143546
80%         0.238919
90%         0.351584
95%         0.487203
max         0.997184
Name: diff, dtype: float64

maybe use the weighting here?