In [65]:
import pandas as pd
import os

In [66]:
root = '/home/nmd/Projects/mlup/tests/db-set-refactoring/0-raw-data/lau/'

In [67]:
pd.read_csv(os.path.join(root,'lau_nuts_extra.csv'))

,LAU_ID,country,NUTS_ID_region,region,CNTR_CODE,nuts3,MOUNT_TYPE,URBN_TYPE,COAST_TYPE,NUTS_ID_3
0,CZ579271,czechia,CZ0,ČESKÁ REPUBLIKA,CZ,Královéhradecký kraj,4,2,3,CZ052
1,CZ579289,czechia,CZ0,ČESKÁ REPUBLIKA,CZ,Plzeňský kraj,4,3,3,CZ032
2,CZ579297,czechia,CZ0,ČESKÁ REPUBLIKA,CZ,Královéhradecký kraj,4,2,3,CZ052
3,CZ579301,czechia,CZ0,ČESKÁ REPUBLIKA,CZ,Královéhradecký kraj,4,2,3,CZ052
4,CZ579319,czechia,CZ0,ČESKÁ REPUBLIKA,CZ,Královéhradecký kraj,4,2,3,CZ052
...,...,...,...,...,...,...,...,...,...,...
98679,RO82895,romania,RO4,MACROREGIUNEA PATRU,RO,Gorj,4,3,3,RO412
98680,RO83133,romania,RO1,MACROREGIUNEA UNU,RO,Harghita,3,3,3,RO124
98681,RO83151,romania,RO1,MACROREGIUNEA UNU,RO,Harghita,3,3,3,RO124
98682,RO83197,romania,RO1,MACROREGIUNEA UNU,RO,Harghita,3,3,3,RO124
98683,CZ568902,czechia,CZ0,ČESKÁ REPUBLIKA,CZ,Kraj Vysočina,4,3,3,CZ063

In [68]:
laus = pd.read_csv(os.path.join(root,'lau_nuts_extra.csv'))[['country','LAU_ID','NUTS_ID_3','NUTS_ID_region']]

In [69]:
input_parsing = pd.read_csv('../1-parsing/inputs-parsing.csv')

In [70]:
laus = laus[laus.country.isin(list(set(input_parsing.country)))]

In [71]:
laus_no_change = laus[~laus.country.isin(['germany','austria','italy'])]

In [72]:
reg_keep = list(input_parsing[(input_parsing.nuts_level.isin(['nuts1','nuts2'])) & (input_parsing.nuts_name!="['ITH1','ITH2']")]['nuts_name'])

In [73]:
reg_keep.append('ITH1')
reg_keep.append('ITH2')

In [74]:
laus_no_change = pd.concat([laus_no_change,laus[laus.NUTS_ID_region.isin(reg_keep)]])

In [75]:
laus.columns

Index(['country', 'LAU_ID', 'NUTS_ID_3', 'NUTS_ID_region'], dtype='object')

In [76]:
laus_no_change = pd.concat([laus_no_change,laus[laus.LAU_ID == 'AT40101']])
laus_no_change = pd.concat([laus_no_change,laus[laus.NUTS_ID_3 == 'DE131']])

In [77]:
# remove two regions spain!
laus_no_change = laus_no_change[~laus_no_change.NUTS_ID_3.isin(['ES211', 'ES212', 'ES213', 'ES220', 'ES412'])]

In [78]:
# remove upper part of Sud Tirol
laus_no_change = laus_no_change[laus_no_change.NUTS_ID_3 != 'ITH10']

In [79]:
laus_no_change.to_csv('laus_gov.csv',index=False)